<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta content="no-cache">
    <title th:text="#{html.title}"></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>어드민 페이지</h1> <hr/>
<span sec:authentication="name"></span>님 반갑습니다.
<ul>
    <li><a th:href="@{/logout}">로그아웃</a></li>
    <li><a th:href="@{/}">홈으로 가기</a></li>
</ul>
</body>
</html>